@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
   
body {
    display:flex;
    flex-direction: column;
    justify-content: center;

    margin:0;
    padding:0;
    font-family: Roboto, sans-serif;

}

.first-section  {
    background-color: #1f2937;

}

#logo   {
    font-size:24px;
    color:#F9FAF8;
    font-weight: 900;

}

.header {
    display:flex;
    flex-direction: row;

}

.left-header , .right-header   {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap:20px;
    font-size:18px;
}

.right-header{
    color: #e5e7eb;
    padding:0 130px 0 0;
}

.left-header{
    padding: 0 40px 0 0;
}

ul{
    list-style-type: none;
}
.purpose{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.purpose-left{
    margin:0;
    padding:170px 0 170px 200px;
    border:0;
}

.purpose-right{
    margin:0;
    padding: 0 190px 0 0;
    border: 0;
}

img{
    width: 400px;
    height:auto;
}

.signup {
    max-width: 450px;
}

button{
    background-color: #3882f6;
    border-radius:10px;
    border:none;
    font-size:20px;
    font-weight: 700;
    padding: 10px 35px;
    color:#F9FAF8;
}

#main{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
    margin: 0;
    padding:0;
    border: 0;
}

#hero-secondary{
    font-size:18px;
    color:#E5E7EB;
    margin:0; 
    padding: 0 0 10px;
    border: 0;
}

.info-images {
    object-fit:cover;
    border-radius:10px;
    border:;
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
}

.second-section{
    display:flex;
    flex-direction: column;
    align-items: center;

    padding:0 35px 0 0;

}

.second-information{
    font-size: 36px;
    font-weight:800;
    color:#1F2937;

    margin:0;
    border:0;
    padding:40px;
    
}

.second-container{
    display:flex;
    justify-content: center;
    gap:60px;
}

.info-text{
    text-align:center;
}

.info {
    width: 160px;
}
